[run]
source = vision_restore
omit = 
    vision_restore/gui/*
    tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    pass

[html]
directory = htmlcov
